body {
  height: 800px;
  background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
.app {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}
.main.container {
  align-items: center;
  height: 600px;
  justify-content: center;
  width: 700px;
}
.one.container {
  background: radial-gradient(
    919px at 1.7% 6.1%,
    rgb(41, 58, 76) 0%,
    rgb(40, 171, 226) 100.2%
  );
  border-radius: 20px 20px;
  width: 100%;
  padding: 30px;
}
.two.container {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 0;
  background: radial-gradient(
    919px at 1.7% 6.1%,
    rgb(41, 58, 76) 0%,
    rgb(40, 171, 226) 100.2%
  );
  border-radius: 20px 20px;
  width: 100%;
  max-width: 700px;
  margin-top: 10px;
}
.city {
  font-size: 40px;
}
.form.row {
  padding-bottom: 15px;
}
h1 {
  padding-top: 30px;
  color: #293a4d;
}
h2 {
  font-size: 27px;
}

.temperature {
  font-size: 44px;
}
.celsius {
  position: relative;
  top: -22px;
}
.description {
  font-size: 35px;
}

.active {
  color: black;
}
.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}
.col-3 {
  text-align: center;
}
.footer {
  padding: 20px;
  text-align: right;
}
.sourcecode {
  color: #293a4d;
}
.left.col-4 {
  padding: 50px 0px 0px 40px;
  line-height: 30px;
}

.day.col-6 {
  padding-left: 100px;
  padding-top: 10px;
}
.weather-forecast-day.col-6 {
  padding-top: 10px;
  padding-left: 110px;
  line-height: 10px;
}
.weather-forecast-temperatures.col-6 {
  padding-left: 0px;
  justify-content: center;
}
.right.col-8 {
  padding-left: 80px;
}
