body {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
  background-color: rgb(77, 142, 161);
}

a {
  text-decoration: none;
}
.main.container {
  align-items: center;
  height: 600px;
  justify-content: center;
  width: 700px;
}
.one.container {
  background: #baadad;
  border-radius: 20px 20px;
  width: 100%;
  padding: 30px;
}
.two.container {
  text-align: center;
  padding: 10px 50px;
  background: #baadad;
  border-radius: 0 20px;
  width: 100%;
  max-width: 700px;
  margin-top: 10px;
}
.city {
  font-size: 40px;
}
.form.row {
  padding-bottom: 50px;
}
h1 {
  font-weight: bold;
}
h2 {
  font-size: 27px;
}

.temperature {
  font-size: 44px;
}
.celsius {
  position: relative;
  top: -22px;
}
.description {
  font-size: 35px;
}

.active {
  color: black;
}
.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}
.col-3 {
  text-align: center;
}
.footer {
  padding: 20px;
  text-align: right;
}
.sourcecode {
  color: #baadad;
}
.col-6.part-1 {
  font-weight: 100px;
}
